<footer>
    <div class="foodio-footer">
        <div class="foodio-info">
            <div class="name">
                <h2>F<span>oo</span>dio</h2>
            </div>
            <div class="info">

            </div>
            <div class="socialMedia-icons">
                <div class="facebook-logo">

                </div>
                <div class="twitter-logo">

                </div>
                <div class="instagram-logo">

                </div>
                <div class="linkedIn-logo">

                </div>
            </div>
        </div>
    </div>
</footer>