<footer style="padding-top: 40px; background-color: rgb(52,48,54); color: white">
    <div class="newFooter">
        <div class="foodio-footer" style="max-width: 80%; display: flex; justify-content: space-evenly; margin-left: 3%; margin-bottom: 50px;">
        <div class="foodio-info" style="max-width:40%;">
            <div class="name" style="margin-top:-8px; margin-bottom: 25px;">
                <h2 style="font-size: 2.1em; font-weight: 900;">F<span style="color: #ff6b03;">oo</span>dio</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia unde officia dignissimos impedit commodi temporibus?</p>
            </div>
            <div class="socialMedia-icons" style="display: flex;">
                <div class="facebook-logo">
                    <i class="fa-brands fa-facebook fa-lg" style="color: #343036;"></i>
                </div>
                <div class="instagram-logo">
                    <i class="fa-brands fa-instagram fa-lg" style="color: #363034;"></i>
                </div>
                <div class="linkedIn-logo">
                    <i class="fa-brands fa-linkedin fa-lg" style="color: #3a3034;"></i>
                </div>
            </div>
        </div> 
        <div class="foodie-app-download" style="margin-left: -20px">
            <h4>Download the app</h4>
            <div class="stores" style="display: flex; margin-top: 25px">
                <div class="google-store">
                    <img src="/public/images/google play.png" alt="" style="max-width: 100px;">
                </div> 
                <div class="apple-store">
                    <img src="/public/images/app store.png" alt="" style="max-width: 100px; margin-left: 10px; margin-top: -2px;">
                </div>
            </div>
        </div>
        <div class="important-links" style="margin-left: 20px;">
            <div class="header" style="margin-bottom: 20px;">
                <h3>important links</h3>
            </div> 
            <div class="linkssss">
                <p>Home</p>
                <br>
                <p>Overview</p>
                <br>
                <p>Restaurants</p>
                <br>
                <p>Feautures</p>
                <br>
                <p>Testimonials</p>
            </div>
        </div>
    </div>
</div>
<div class="copyright-div" style="text-align: center; margin-top: 20px; border-top: 1px solid white; padding-top: 10px;">
    <p>2023@ Foodio All Rights Reserved</p>
</div>
</footer>