<footer>
    <div class="foodio-footer">
        <div class="foodio-info">
            <div class="name">
                <h2 style="font-size: 2.1em; font-weight: 900;">F<span style="color: #ff6b03;">oo</span>dio</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia unde officia dignissimos impedit commodi temporibus?</p>
            </div>
            <div class="socialMedia-icons" style="display: flex;">
                <div class="facebook-logo">
                    <i class="fa-brands fa-facebook fa-lg" style="color: #343036;"></i>
                </div>
                <div class="twitter-logo">
                    <i class="fa-brands fa-twitter fa-lg" style="color: #363034;"></i>
                </div>
                <div class="instagram-logo">
                    <i class="fa-brands fa-instagram fa-lg" style="color: #363034;"></i>
                </div>
                <div class="linkedIn-logo">
                    <i class="fa-brands fa-linkedin fa-lg" style="color: #3a3034;"></i>
                </div>
            </div>
        </div> 
    </div>
</footer>