<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/getStartednavbar') %>
    
    <p><%=lunchDetails.lunchName%></p>

    <%- include('partials/footer') %>
</body>
</html>