<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/getStartednavbar') %>

    <div class="banner-hero">
        <div class="bigDiv-writeUp">
            <div class="first-writeUp">
                <h1> <strong>Turn your</strong></h1>
                <h1>office into the best </h1>
                <h1>restaurant in town</h1>
            </div>
            <div class="second-writeUp">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ea eveniet omnis magnam explicabo quas deserunt inventore quidem blanditiis mollitia?</p>
            </div>
            <div class="get-started-button">
                <button><a href="#">Get Started</a></button>
            </div>
        </div>

        
        <div class="form-class">
            <form action="/getStarted" method="post">
                <div class="form-header"> 
                    <h3>Let's Eat</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi fugiat libero consequatur.</p>
                </div> 
                <div class="allinfo-div">
                    <div class="username-div">
                        <label for="">First name</label>
                        <br>
                        <input type="text" name="firstName" class="input-class" id="firstname" >
                    </div>
                    <div class="lastname-div">
                    <label for="">Last name</label>
                    <br>
                    <input type="text" name="lastName" class="input-class" id="password">
                </div>
                <div class="email-div">
                    <label for="">Email address</label>
                    <br>
                    <input type="email" name="email" class="input-class" id="password">
                </div>
                <div class="password-div">
                    <label for="">Password</label> 
                    <br>
                    <input type="password" name="password" class="input-class" id="password">
                </div>
                <div class="getStarted-div">
                    <button type="submit" id="start">Get started</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- logos section -->
    <div class="sponsors">
        <div class="sponsors-div">
            <div class="abstract-logo">
                <img src="/public/images/abstract-logo.png" alt="">
            </div>
            <div class="adobe-logo">
                <img src="/public/images/adobe-logo.png" alt="">
            </div>
            <div class="anchor-logo">
                <img src="/public/images/anchor-logo.png" alt="">
            </div> 
            <div class="airbnb-logo">
                <img src="/public/images/airbnb logo.png" alt="">
            </div>  
            <div class="canop-logo">
                <img src="/public/images/canop2.png" alt="">
            </div> 
        </div>
    </div> 
    
    <!-- few of our services --> 
    <div class="second-section">
    <div class="second-section-header">
        <h1>Three ways to fuel your team</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur delectus consectetur debitis.</p> 
    </div>
    <div class="services-div">
        <div class="group-orders">
            <div class="font-img">
                <i class="fa-solid fa-users-between-lines fa-6x" style="color: #ff6b03;"></i>
            </div>
            <div class="font-name">
                <h3>Group Orders</h3>
            </div>
            <div class="font-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque inventore, sint dolor distinctio cupiditate?</p>
            </div>
        </div>
        <div class="group-orders1">
            <div class="font-img">
                <i class="fa-solid fa-square-poll-vertical fa-6x" style="color: #ff6b03;"></i>
            </div>
            <div class="font-name">
                <h3>Corporate accounts</h3>
            </div>
            <div class="font-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque inventore, sint dolor distinctio cupiditate?</p>
            </div>
        </div>
        <div class="group-orders2">
            <div class="font-img">
                <i class="fa-solid fa-briefcase fa-6x" style="color: #ff6b03;"></i>
            </div>
            <div class="font-name">
                <h3>Catering</h3>
            </div> 
            <div class="font-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus doloremque inventore, sint dolor distinctio cupiditate?</p>
            </div>
        </div>
    </div>
</div>   

<div class="third-section" style="background-color: white; padding-top: 90px;"> 
    <div class="third-section-header" style="margin-bottom: 40px;">
        <h1 style="text-align: center;">The best restaurants</h1> 
        <br>
        <h4 style="text-align: center;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
    </div>
    <div class="container-img">
        <div class="first-container-img">
            <div class="img-1">
                <img src="/public/images/fufu and soup.jpg" alt="" style="max-width: 450px; border-radius: 5%; margin-right: 15px;">
        </div>
        <div class="img-2">
            <img src="/public/images/rice and stew.jpg" alt="" style="max-width: 295px; border-radius: 5%;">
        </div>
    </div>
</div>
<div class="container2-img">
    <div class="second-container-img">
        <div class="img-3">
            <img src="/public/images/meatpiesss.jpg" alt="" style="max-width:240px; margin-right: 15px; border-radius: 5%;">
        </div>
        <div class="img-4">
            <img src="/public/images/rice n meatballs.jpg" alt="" style="max-width:240px; margin-right: 15px; border-radius: 5%;">
        </div>
        <div class="img-5">
            <img src="/public/images/sushi fish.jpg" alt="" style="max-width:240px; border-radius: 5%;">
        </div>
    </div>
</div>
</div>


<div class="fouth-section" style="background-color: white; padding-top: 80px;">
    <div class="fourth-section-header">
        <h1 style="text-align: center;">What people are saying</h1>
        <br>
        <p style="text-align: center; font-weight: 600;">Here are a few reviews from some of our loyal and trusted customers</p> 
    </div> 
    <div class="customer-reviews-div" style="display: flex; justify-content: center; width: 85%; margin-left: 7.5%; margin-top: 40px;">
        <div class="customer-reviews" style="width:70%;" id="first-review">
            <div class="customer-img" style="text-align: center;">
                <img src="/public/images/man 1.jpg" alt="" style="max-width: 100px; border-radius: 50%; height: 100px;">  
            </div>
            <div class="review" style="max-width: 90%; padding-left: 15px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatibus eos dignissimos commodi, harum nemo veritatis quae delectus, eveniet voluptatem magni impedit ea repudiandae quas.</p>
            </div>
            <div class="customer-name">
                <p>Godwin Praise</p>
            </div>
        </div>
        <div class="customer-reviews" style="margin-left: 25px; width: 70%;" id="second-review"> 
            <div class="customer-img" style="text-align: center;">
                <img src="/public/images/woman 1.jpg" alt="" style="max-width: 100px; border-radius: 50%; height: 100px;">
            </div>
            <div class="review" style="max-width: 90%; padding-left: 15px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatibus eos dignissimos commodi, harum nemo veritatis quae delectus.</p>
            </div>
            <div class="customer-name">
                <p>Annie Mccarthy</p>
            </div>
        </div>
        <div class="customer-reviews" style="margin-left: 25px; width:70%;" id="third-review">
            <div class="customer-img" style="text-align: center;">
                <img src="/public/images/man 3.jpg" alt="" style="max-width: 100px; border-radius: 50%; height: 100px;">
            </div>
            <div class="review" style="max-width: 90%; padding-left: 15px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatibus eos dignissimos commodi, harum nemo veritatis quae delectus, eveniet voluptatem magni impedit ea repudiandae quas.</p>
            </div>
            <div class="customer-name">
                <p>Jason Jacob</p>
            </div>
        </div>
    </div>
</div> 

<div class="fifth-section" style="background-color: white; padding-top: 150px;">
    <div class="fifth-section-header" style="text-align: center;">
        <h1>Subscribe to our newsletter</h1>
        <br>
        <p>When you subscribe, you get updates on our latest informations and also discounts</p>
    </div>
    <div class="subscribe" style="margin-left: 30%; background-color: white; margin-top: 40px" >
        <form action="" method="post">
           <input type="text"   name="subscribersEmail"  placeholder="Enter your email.." style="position: relative; width: 55%; height: 60px; font-family:'League Spartan', sans-serif; padding-left: 20px; border-radius: 30px 30px 30px 30px; border: 1px solid #ECECEC;"> <button type="submit" style="position: relative; margin-left: -120px; margin-top: 30px; height: 30px; width: 10%; font-family:'League Spartan', sans-serif; border-radius: 30px 30px 30px 30px; background-color: #ff6b03; color: white; border: none;">Subscribe</button>
        </form>
    </div>
</div> 
<%- include('partials/footer') %>
</body>  
</html>