<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body style="font-family:'League Spartan', sans-serif ;">
    <%- include('partials/getStartednavbar') %>
    

    <div class="form-class" style="margin-left: 35%; margin-top: 90px; margin-bottom: 70px; padding-bottom: 30px;">
        <form action="/login" method="post">
            <div class="form-header"> 
                <h3>Login to F<span style="color: #ff6b03;">oo</span>dio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi fugiat libero consequatur.</p>
            </div> 
            <div class="errorMsg" style=" margin-top: 20px; text-align: center;">
                <p style="color:rgb(214, 24, 24)"><%=message%></p>
            </div>
            <div class="allinfo-div" style="margin-top: 10px;">
                <div class="username-div">
                    <label for="">First name</label>
                    <br>
                    <input type="text" name="firstName" class="input-class" id="firstname" >
                </div>
            <div class="password-div">
                <label for="">Password</label> 
                <br>
                <input type="password" name="password" class="input-class" id="password">
            </div>
            <div class="getStarted-div">
                <button type="submit" id="start">Login</button>
            </div>
            <br>
            <h3 style="margin-left: 45%;">Or</h3>
            <br>
            <div class="google-login" style="text-align: center;">
                <div class="div" style="width: 50%;border: 1px solid #fc9b56; display: flex; margin-left: 80px; padding-left: 10px; border-radius: 20px 20px 20px 20px;">
                    <div class="logo">
                     <img src="/public/images/google-logo.png" alt="" style="width: 25px;">
                    </div> 
                    <div class="name" style="margin-left: 5px; margin-top: 7px;">
                     <p><a href="#" style="color:black; text-decoration: none;">Continue with Google</a></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="apple-login" style="text-align: center;">
                <div class="div" style="width: 50%;border: 1px solid #fc9b56; display: flex; margin-left: 80px; padding-left: 10px; border-radius: 20px 20px 20px 20px;">
                    <div class="logo">
                     <img src="/public/images/apple logo.png" alt="" style="width: 40px;">
                    </div> 
                    <div class="name" style="margin-left: -5px; margin-top: 7px;">
                     <p><a href="#" style="color:black; text-decoration: none;">Continue with Apple</a></p>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>







    <%- include('partials/footer') %>
</body>
</html>