.desc-div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
} 
.breakfasts-div {
    width: 80%;
    margin-left: 10%;
}
.breakfast{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 50px;
}
.breakfast-text {
    width: 50%;
}
.ud {
    display: flex;
    flex-direction: column; 
    width: 70%;
} 
.img-div {
    text-align: center;
} 
.two-flex {
    display: flex; 
    justify-content:space-evenly;
    margin-top: 10px;
}